<!DOCTYPE html>
<html>

<head>
    <title>{{ company_name }}</title>
</head>

<body>

<h1>{{ company_name }}</h1>

<hr>

<p><strong>Hostname:</strong> {{ inventory_hostname }}</p>

<p><strong>Server Type:</strong> {{ server_type }}</p>

<p><strong>Owner:</strong> {{ server_owner }}</p>

<p><strong>Managed by:</strong> Ansible</p>

</body>

</html>
